

<!-- View -->
<div data-role="view" id="defect-view"
        data-layout="mobile-tabstrip"
    data-model="app.views.defect.viewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title" data-bind="text: name"></span>
            <!--<a data-align="right" data-role="button" class="nav-button" href="#/">Index</a> -->
        </div>
    </header>
    <h3 data-bind="text: description" ></h3>
</div>
    