<!-- View -->
<div data-role="view" id="imageDetail-view" data-title="Customize your image"
    data-model="app.views.imageDetail.viewModel"
    data-init="app.views.imageDetail.init"
     data-show="app.views.imageDetail.show">
     <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="button" data-bind="events:{click: onClickBack}">Back</a>
            <span data-role="view-title" data-bind="text: name"></span>
            <!--<a data-align="right" data-role="button" class="nav-button" href="#/">Index</a> -->
        </div>
    </header>
    <canvas id="imgDetail"></canvas>
</div>