<!-- View -->
<div data-role="view" id="report-view" data-title="New Defect"
    data-model="app.views.newDefect.viewModel"
     data-init="app.views.newDefect.init"
    data-transition="overlay:up" data-persist="true">
     <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="right" data-role="button" href="#:back" data-bind="events:{click: onClickCancel}" data-transition="overlay:up reverse">Cancel</a>
            <span data-role="view-title" data-bind="text: name"></span>
            <!--<a data-align="right" data-role="button" class="nav-button" href="#/">Index</a> -->
        </div>
    </header>
    <h1 data-bind="text: message" ></h1>
    <img src="public/images/image_add.png" alt="add_image" data-bind="events:{click: addImage}"/>
    <ul id="listImage"></ul>
</div>